@model X.PagedList.IPagedList<SportsProUser>

@{
    ViewBag.Title = "Technician Manager";
}

<h2 class="my-2">@ViewBag.Title</h2>

<div class="mb-3 d-flex justify-content-end">
    <form asp-action="List" method="get" asp-controller="Technician" class="w-50 form-floating">
        <div class="input-group">
            <input type="text" class="form-control me-1" name="search" value="@ViewBag.search" placeholder="Search..." />
            <button class="btn btn-outline-primary" type="submit">Search</button>
           
        </div>
    </form>
</div>

<table class="table table-bordered table-striped shadow">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (SportsProUser technician in Model)
        {
            <tr>
                <td>@technician.FullName</td>
                <td>@technician.Email</td>
                <td>@technician.PhoneNumber</td>
                

                @*Technician Edit button*@
                <td>
                    <a class="btn btn-outline-primary" 
                        asp-controller="Technician" asp-action="Edit"
                        asp-route-id="@technician.Id" >
                        Edit
                    </a>
                </td>

                
                <td>
                    <a asp-action="UnlockLock" asp-controller="Technician" asp-route-id="@technician.Id"
                    class="@(technician.LockoutEnd > DateTime.Now ? "btn-outline-danger": "btn-outline-success") btn">
                     @(technician.LockoutEnd > DateTime.Now ? "Unlock" : "Lock")
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>

@* Pagination *@
<div>
    @if (Model.PageCount > 1)
    {
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                @for (var i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                        @* href="@Url.Action("List", "Technician", new { page = i, search = ViewBag.search }) *@
                        <a class="page-link" asp-action="List" asp-controller="Technician" 
                            asp-route-page="@i" 
                            asp-route-search="@ViewBag.search">
                            @i
                        </a>
                    </li>
                }
            </ul>
        </nav>    
    }
</div>


